button {
  border: 1px solid transparent;
  border-radius: 5px;
  height: 2.5rem;
  width: auto;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin-bottom: 0.5rem;
}

button:disabled {
  background-color: gray;
}

button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}
