$primary: #cbe896;
$secondary: #aac0aa;
$tetriary: #f6d695;
$bodyBg: #f6f4e4;
$inputBg: #ffffff;
$border: #a18276;

$darkPrimary: #9dc0bc;
$darkSecondary: #7c7287;
$darkTetriary: #90c8a2;
$darkBodyBg: #252525;
$darkInputBg: #ffffffbe;

$return: #e1867a;
