:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Hepta Slab", serif;
  font-weight: 400;
  scroll-behavior: smooth;
  padding-inline: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

form {
  h5 {
    text-align: left;
  }
  input {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
    background-color: #ffffffdb;
    border: 1px solid $border;
    border-radius: 5px;
    padding-left: 5px;
    transition: all 0.2s;
  }
  input:focus-visible {
    outline: 0;
    transform: scale(1.05);
  }
  input.error {
    border: 4px solid $return;
  }
  margin-bottom: 1rem;
}

.return {
  background-color: $return;
}

.light {
  background-color: $softWhite;
}

.dark {
  color: $softWhite;
  background-color: $darkBodyBg;
}

.disabled {
  color: black;
  background-color: rgb(176, 174, 174);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

section.firstView {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  h1 {
    margin-top: 7vh;
  }
  .logo {
    height: 6rem;
    width: 6rem;
    align-self: center;
    margin-bottom: 2rem;
  }
}

section.secondView {
  margin-top: 5rem;
  margin-bottom: 5rem;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  h2 {
    font-weight: 400;
    margin-block: 2rem;
  }
}

section.patternView {
  overflow: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    margin-block: 1rem;
    height: 20rem;
    width: 20rem;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
    border: 4px solid black;
  }
  h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  button {
    width: 20rem;
  }
  article.patternNotes {
    width: 90%;
    padding: 1rem;
    border-radius: 5px;
    margin-block: 1rem;
  }
  section.partPreview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 90%;
    margin-block: 1rem;
    article {
      align-self: flex-start;
    }
    h3 {
      font-size: 1.4rem;
      font-weight: 400;
      align-self: center;
    }
    img {
      margin-block: 1rem;
      height: 5rem;
      width: 5rem;
      object-fit: cover; /* Do not scale the image */
      object-position: center;
      border: 4px solid black;
    }
    div.rowInstructionContainer {
      display: grid;
      grid-template-columns: 2rem 1fr;
      margin-bottom: 0.1rem;
    }
  }
}

section.patternFormContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: start;
  h3,
  h4,
  h5 {
    margin-bottom: 0.3rem;
  }
  button {
    margin-bottom: 2rem;
    width: 90%;
    align-self: center;
  }
  section.imageUploadContainer {
    display: flex;
    flex-direction: column;
    p.imgName {
      align-self: center;
      margin-bottom: 1rem;
    }
  }
  section.typeBtnContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid currentColor;
    button {
      width: 45%;
      margin-bottom: 0;
    }
  }
  section.patterFormPartsContainer {
    div.divider {
      justify-self: center;
      width: 85%;
      border-bottom: 3px solid currentColor;
      margin: 2rem;
    }
    div.rowdivider {
      justify-self: center;
      width: 70%;
      border-bottom: 1px solid currentColor;
      margin: 1.5rem;
    }
    section.newRowContainer {
      width: 100%;
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 5.5rem 4.5rem;
      align-items: end;
      justify-items: center;
      form {
        width: 100%;
        grid-column: span 2;
        grid-row: 1;
        text-align: start;
        margin: 0;
        input {
          margin: 0;
        }
      }
      .newRowCounterContainer {
        display: grid;
        width: 100%;
        grid-template-columns: 2.5rem 2.5rem 2.5rem;
        grid-template-rows: 1.2rem 2.5rem;
        h5 {
          grid-column: span 3;
          grid-row: 1;
          justify-self: start;
        }
        .count {
          grid-column: 2;
          grid-row: 2;
          border: 1px solid rgba(0, 0, 0, 0.4);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
        }
        button {
          width: 100%;
          height: 100%;
          margin-bottom: 0;
        }
        .plus {
          grid-column: 3;
          grid-row: 2;
          border-radius: 0px 5px 5px 0px;
        }
        .minus {
          grid-column: 1;
          grid-row: 2;
          border-radius: 5px 0px 0px 5px;
        }
        button:hover {
          box-shadow: none;
          transform: none;
        }
        button:active {
          opacity: 70%;
          transform: none;
        }
      }
      button.return {
        width: 2.5rem;
        height: 2.5rem;
        grid-column: 2;
        grid-row: 2;
        justify-self: end;
        align-self: flex-end;
        margin: 0;
      }
    }
    div.newRowBtnContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      button {
        margin: 0;
      }
    }
  }
  div.primaryBtnContainer {
    border-top: 3px solid currentColor;
    gap: 0;
    width: 100%;
    padding-top: 2rem;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-inline: 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  h1 {
    font-size: 1rem;
  }
  svg {
    height: 40px;
    width: 40px;
  }
}

div#nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  padding-inline: 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  button.navBtn {
    background-color: transparent;
    height: auto;
    width: auto;
    margin-bottom: 0rem;
    div.navBtnText {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0px;
      p {
        align-self: center;
        font-size: 0.9rem;
      }
    }
  }
}

article {
  text-align: start;
}

.primaryBtnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 80%;
  margin-bottom: 1rem;
  button {
    width: 100%;
  }
}

.btnText {
  display: flex;
  gap: 5px;
  justify-content: center;
  p {
    align-self: center;
  }
}

.blur {
  filter: blur(2px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  transition: opacity 0.3s ease;
}

.popup {
  position: absolute;
  height: auto;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 1.5rem;
  text-align: center;
  border-radius: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  span {
    font-weight: 600;
  }
  div.primaryBtnContainer {
    width: 90%;
    align-self: center;
  }
}

.patternPreview {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 5rem;
  width: 80%;
  height: 5rem;
  margin-top: 1rem;
  align-items: center;
  transition: all 0.2s;
  color: black;
  h4 {
    overflow: hidden;
  }
  img {
    height: 5rem;
    width: 5rem;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
    border-right: 4px solid black;
  }
}
.patternPreview:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
.patternPreview:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}

.rowCounterHeadlineContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  p {
    font-size: 1.1rem;
  }
}

.rowContent {
  width: 80%;
  font-size: 1.3rem;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterContainer {
  display: grid;
  .count {
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: $softWhite;
    color: $darkBodyBg;
  }
  .plus {
    border-radius: 5px 5px 0px 0px;
  }
  .minus {
    border-radius: 0px 0px 5px 5px;
  }

  button:hover {
    box-shadow: none;
    transform: none;
  }
  button:active {
    opacity: 70%;
    transform: none;
  }
}

@media (orientation: portrait) {
  .rowCounterHeadlineContainer {
    flex-direction: column;
    gap: 1rem;
    .rowCounterHeadline {
      display: block;
    }
  }

  .rowContent {
    height: 20vh;
  }

  .counterContainer {
    margin-top: 3rem;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    width: 60%;
    height: 15rem;
    button {
      height: 100%;
      transition: all 0s;
      svg {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

@media (orientation: landscape) {
  section.firstView {
    .logo {
      height: 4rem;
      width: 4rem;
      align-self: center;
      margin-bottom: 1.5rem;
    }
  }

  section.secondView {
    h2 {
      font-weight: 400;
      margin-block: 1rem;
    }
    .primaryBtnContainer {
      margin-top: 1.5rem;
    }
  }

  section.patternView {
    article.patternNotes {
      width: 85%;
    }
    img {
      height: 10rem;
      width: 10rem;
    }
    button {
      width: 25rem;
    }
    article.patternNotes {
      margin-top: 2rem;
    }
    section.partPreview {
      width: 85%;
    }
  }

  header {
    top: 0;
    left: 0;
    width: 50vw;
    gap: 0.5rem;
    padding-inline: 10px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid black;
  }

  div#nav {
    top: 0;
    left: 50%;
    width: 50vw;
    height: 4rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 25px;
    border-left: 1px solid black;
  }

  .rowCounterHeadlineContainer {
    align-items: center;
    gap: 10px;
    .rowCounterHeadline {
      display: none;
    }
  }

  .rowContent {
    height: 4rem;
  }

  .counterContainer {
    margin-top: 1rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    height: 8rem;
    button {
      height: 100%;
    }
    .plus {
      grid-row: 1;
      grid-column: 3;
      border-radius: 0px 5px 5px 0px;
    }
    .count {
      grid-row: 1;
      grid-column: 2;
    }
    .minus {
      grid-row: 1;
      grid-column: 1;
      border-radius: 5px 0px 0px 5px;
    }
  }
}
