:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Hepta Slab", serif;
  font-weight: 400;
  scroll-behavior: smooth;
  padding-inline: 1.5rem;
}

.return {
  background-color: $return;
}

.light {
  background-color: $softWhite;
}

.dark {
  color: $softWhite;
  background-color: $darkBodyBg;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

section.firstPage {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    margin-top: 7vh;
  }
  .logo {
    height: 6rem;
    width: 6rem;
    align-self: center;
    margin-bottom: 2rem;
  }
  form {
    h5 {
      margin: 0;
      text-align: left;
    }
    input {
      width: 100%;
      height: 2.5rem;
      margin-bottom: 1rem;
      background-color: #ffffffdb;
      border: 1px solid $border;
      border-radius: 5px;
      padding-left: 5px;
      transition: all 0.2s;
    }
    input:focus-visible {
      outline: 0;
      transform: scale(1.05);
    }
    input.error {
      border: 4px solid $return;
    }
    margin-bottom: 1rem;
  }

  .primaryBtnContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.blur {
  filter: blur(2px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  transition: opacity 0.3s ease;
}

.popup {
  position: absolute;
  height: auto;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 1.5rem;
  text-align: center;
  border-radius: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  p {
    margin: 0;
  }
  span {
    font-weight: 600;
  }
}

.btnText {
  display: flex;
  gap: 5px;
  justify-content: center;
  p {
    align-self: center;
    margin: 0;
  }
}
