@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap");
@import "./style/normalize";
@import "./style/color";
@import "./style/button";
@import "./style/mobile";

@media only screen and (min-width: 800px) {
  @import "./style/tablet";
}
@media only screen and (min-width: 1025px) {
  @import "./style/desktop";
}
@media (hover: hover) {
  @import "./style/hover.scss";
}

body.light {
  color: black;
  background-color: $bodyBg;
  .primary {
    color: black;
    background-color: $primary;
  }
  .secondary {
    color: black;
    background-color: $secondary;
  }
  .tetriary {
    color: black;
    background-color: $tetriary;
  }
  div.welcomeScreen {
    background-color: $bodyBg;
  }
  input,
  .count {
    background-color: $inputBg;
  }
  .popup {
    background-color: $bodyBg;
    border: 3px solid black;
  }
  .loader {
    background-color: $bodyBg;
    border: 1px solid black;
  }
  .patternPreview {
    background-color: $tetriary;
  }
  article.patternNotes {
    background-color: $primary;
  }
}

body.dark {
  color: $softWhite;
  background-color: $darkBodyBg;
  .primary {
    color: black;
    background-color: $darkPrimary;
  }
  .secondary {
    color: black;
    background-color: $darkSecondary;
  }
  .tetriary {
    color: black;
    background-color: $darkTetriary;
  }
  div.welcomeScreen {
    background-color: $darkBodyBg;
  }
  input,
  .count {
    color: black;
    background-color: $darkInputBg;
  }
  .popup {
    background-color: $darkBodyBg;
    border: 3px solid $softWhite;
  }
  .loader {
    background-color: $darkBodyBg;
    border: 1px solid $softWhite;
  }
  .patternPreview {
    background-color: $darkTetriary;
  }
  article.patternNotes {
    background-color: $darkPrimary;
    color: black;
  }
}
